/* Components */

@import './cmps/AppFooter.css';
@import './cmps/AppHeader.css';
@import './cmps/ToyPreview.css';
@import './cmps/ToyList.css';

@import './pages/ToyIndex.css';
@import './pages/ToyDetails.css';

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-height: 100vh;
}

a {

    text-decoration: none;
}

.grid-container {

    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto 100%;
    grid-template-areas:
        "header"
        "main"
        "footer";
    gap: 5px;
}

.app-header-section {

    grid-area: "header";
}

.main-section {

    grid-area: "main";
    background-color: bisque;
}

.app-footer-section {

    grid-area: "footer";
}