/* Play */

@font-face {
    font-family: play;
    src: url('/src/assets/fonts/play/Play-Regular.ttf');
}

/* Play */

@font-face {
    font-family: chicle;
    src: url('/src/assets/fonts/chicle/Chicle-Regular.ttf');
}